*{
    box-sizing: border-box;
}
.section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.section h2{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.section h2::after{
    background-color: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
#header{
    background-color: #e74c3c;
    color: white;
}
#logo{
    font-size: 2rem;
    margin-top: 5px;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color: white;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}
#menu li a:hover{
    background-color: #ff1900;
}
.banner{
 background-image: url(image\ 5.jpg);
 background-size:cover;
}
.banner-title{
    padding-top: 4rem;
}
.banner-title h1{
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead{
    color: white;
    background-color: rgba(226, 24, 14, 0.74);
    padding: 10px;
}
.service-box{
    text-align: center;
}
#testimonials{
    background-image: url(image\ 3.jpg);
    background-size: cover ;
    padding: 20px 0;
    position: relative;
}
.testimonials p{
    color: white;
}
.auther, .auther-company{
    color: white;
}
.col-md-12 h2{
    color: white;
    font-size: 3rem;
}
.col-lg-3 img{
    width: 300px;
    height: 170px;
}
.news-post h3{
    font-size: 1.35rem;
}
.news-post h3 a{
    color:#e74c3c;
    text-decoration: none;
}
.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}
.post-dark::before{
   content: "\f073";
   font-family: FontAwesome;
   padding-right: 5px;
}
a.readmore{
    font-size: 14px;
    color: #e74c3c;
    text-decoration: none;
}
#footer-sidebar{
    color: white;
    background-color: #34495e;
    padding: 20px 0;
}
.footer-widget h4::after{
    content: "";
    background-color: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}
.footer-widget a{
    color: #fff;
    text-decoration: none;
}
.latest-news{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.latest-news li{
    margin-bottom: 3px;
}
.latest-news li::before{
    content: "\f101";
    font-family: FontAwesome;
    padding-right: 5px;
}
#footer{
    color: #fff;
    background-color: #2c3e50;
    padding: 10px 0;
}
#social-icon img{
    padding-left: 6px;
    
}

@media screen and (max-width:768px){
    .testimonials{
        text-align: center;
        margin-bottom: 70px;
    }
    .service-box{
        margin-bottom: 30px;
    }
    .news-post{
        margin-bottom: 30px;
    }
    .footer-widget{
        margin-bottom: 20px;
    }
    #footer{
        text-align: center;
    }
    #socia-icon{
        margin-top: 10px;
    }
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;
    }
    .news-post img{
        width: 100%;
        height: auto;
  }
  .section{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner-title{
    padding-top: 0;
  }
  .banner-title h1{
    font-size: 1.5rem;
  }
  .auther .auther-company{
    text-align: center;    
  }
}
@media screen and (max-width:992px){
    .news-post{
        margin-bottom: 30px;
    }
}
#footer{
    padding-bottom: 0px;
}
.readmore:hover{
    color: blue;
}
#program img{
    width: 100px;
    height: 100px;

}
.card img{
    width: 100%;
    height: 90%;
    padding: 10px;
}
/* @media screen and (min-width:992px){
    #program{
        margin-left: 130px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    #program{
        margin-left: 100px;
    }
    #program img{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:767px){
    #program{
        margin-left: 150px;
    }
    #program img{
        width: 200px;
        height: 200px;
    }
} */
 
 .card ul li a:hover{
    border: none;
    /* border-bottom: 2px solid red; */
    background-color: blue;
    color: white;
    border-radius: 5px;
 }
 .card ul li a:active{
    color: gray;
 }

 .footer-widget ul li a:hover{
    color: red;
 }
 #jumbo{
    background-image: url(post\ 3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
 }

.card #img3, #img1, #img2, #img4{
    height: 160px;
}
@media screen and (max-width:767px){
    .card #img1, #img2, #img3, #img4{
        height: 160px;
    }
}

.navbar-nav li a:hover{
    font-weight: bolder;
    border-bottom: 3px solid white; 
    padding-bottom: 3px;
    color: rgb(255, 255, 255);
}
.navbar-nav li a:active{
    color: gray;
}
/* .navbar-nav li a:link{
    color: green;
}
.navbar-nav li a:active{
    color: green;
}
.navbar-nav li a:visited{
    color: black;
} */
.first-search{
    outline: none;

}
.navbar-brand,  .navbar-brand img{
    cursor:auto;
}
.news-post img{
    width: 100%;
}
/* .down::after{
    background-color: red;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
} */
 .a2{
    display: none;
 }
 .card ul li .n2:hover .n2{
    display: inline-block;
 }
 .card ul li .n2:hover .n1{
    display: none;
 }
.card_2 .progress-bar{
    margin: 0;
}
.pagination2 li a{
    color: green;
    border-radius: 3px;
    border: none;
}
.pagination2 li a:hover{
    background-color: green;
    color: white;
}
